body {
    background-image: url(../assets/WeatherSprintBg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr 60% 1fr;
    width: 1920px;
    color: white;
}

/* Main Content Start */
.main-content {
    grid-row: 1;
}



.degrees {
    padding-bottom: 32%;
}

.search-bar {
    width:350px; 
    height: 56px;
}

/* Main Content End */
