body {
    background-image: url(../assets/WeatherSprintBg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr 60% 1fr;
    width: 1920px;
    color: white;
    max-width: 1440px;
    height: 900px;
}

/* Main Content Start */
.main-content {
    grid-row: 1;
}

.days-forecast {
   position: absolute;
   top: 80px;
   right: 10px;
}

.degrees {
    padding-bottom: 2%;
}

.search-bar {
    width:350px; 
    height: 56px;
    position: absolute;
    right: 20px;
}

.days {
    display: flex;
    justify-content: end;
}
/* Main Content End */
